.actions,
.sno {
  height: 45px;
  width: 107px;
  position: relative;
  display: inline-block;
}
.actions {
  width: 200px;
}
.tableheader,
.view-details {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.tableheader {
  height: 45px;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
}
.view-details {
  flex: 1;
  position: relative;
  justify-content: center;
}
.row,
.viewdetailsbutton {
  display: flex;
  flex-direction: row;
}
.viewdetailsbutton {
  height: 45px;
  width: 200px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-20);
  background-color: var(--color-peachpuff);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: center;
  padding: 0 var(--padding-20);
  font-size: var(--font-size-16);
}
.row {
  align-self: stretch;
  flex: 1;
  overflow-x: auto;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.childrentable,
.rowcontainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.rowcontainer {
  align-self: stretch;
  height: 70px;
  background-color: var(--color-snow);
  border: 1px solid var(--color-black);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10) var(--padding-11);
}
.childrentable {
  width: 100%;
  border-radius: var(--br-30);
  background-color: var(--color-lightsteelblue);
  border: 1px solid var(--color-gray-200);
  align-items: center;
  justify-content: center;
  padding: var(--padding-18) 0;
  gap: 7px;
  max-width: 1240px;
  text-align: center;
  font-size: var(--font-size-24);
  color: var(--color-black);
  font-family: var(--font-opendyslexic);
}
@media screen and (max-width: 1275px) {
  .childrentable {
    max-width: 100%;
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 750px) {
  .tableheader {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .actions,
  .sno {
    font-size: var(--font-size-19);
  }
}
